* {
  box-sizing: border-box;
}

body {  
  margin: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

h1 {
  display: flex;
  margin: 0;
  height: 15vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh
}


.grids {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#oceanGrid {
  height: 45vh;
  width: 700px;
}

#trackingGrid {
  height: 40vh;
  width: 600px;
  margin-left: 2em;
}

.gridsCells {
  height: 10%;
  background-color: deepskyblue;
  width: 10%;
  border: 0.1px solid rgb(255, 255, 255);
  flex-grow: 1;
  font-size: 0.75rem;
}

/* adding hover behaviour to each cell */
#trackingGrid > div:hover {
  opacity: 0.5;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.cellTaken {
  background: rgb(25, 66, 25);
}

.btnContainer {
  display: flex;
  justify-content: center;
}

#startBtn {
  display: flex;
}

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}